body {
    width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 1000px;
    height: 100px;
}

main {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    background-color: white;

    aside {
        width: 300px;
        height: 400px;
        background-color: aqua;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    section {
        width: 700px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;

        table {
            border: 4px solid black;
            width: 500px;

            th,
            td {
                border: 1px solid black;
            }

            input,
            select,
            textarea {
                background-color: white;
                border: 1px solid gray;
                margin: 3px;
            }

            select {
                appearance: auto;
            }
        }

        button {
            background-color: #EFEFEF;
            display: block;
            margin-left: auto;
            margin-top: 3px;
            border: 1px solid black;
            padding: 3px;
        }
    }
}


footer {
    width: 1000px;
    height: 100px;
    background-color: darkgray;
}